<div class="container vh-100 d-flex justify-content-center align-items-center">
  <p class="w-50 p-3 m-2 text-center bg-light" style="background-color: rgba(211, 211, 211, 0.8);">
    "Welcome to Flight Hub, your all-in-one drone operations management platform that simplifies operations, enhances compliance, and empowers your team to efficiently manage projects from planning to execution."
  </p>
</div>
